/* Default styles for all views */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.content-container {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.sidebar {
  flex: 0 0 200px; /* Default width */
  background-color: lightgray;
}

.left-sidebar {
  background-color: rgb(102, 106, 106);
  
}

.right-sidebar {
  background-color: rgb(102, 106, 106);
}

.content-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

/* Media queries for responsive layout */
@media only screen and (max-width: 767px) {
  .sidebar {
    flex: 0 0 100px; /* Adjust width for mobile */
  }

  .content {
    padding: 10px; /* Adjust padding for mobile */
  }
}
